

# location of the landscape layers to perform statistics on
# Location is in the StreamCat directory
LYR_DIR = 'C:/path/to/landscape/layers'

###("O:/PRIV/CPHEA/PESD/COR/CORFILES/Geospatial_Library_Projects/StreamCat/LandscapeRasters/QAComplete")

# path to the framework created for LakeCat
FRAMEWORK = ("O:/PRIV/CPHEA/PESD/COR/CORFILES/Geospatial_Library_Projects/LakeCat/LakeCat_Framework")

###("O:/PRIV/CPHEA/PESD/COR/CORFILES/Geospatial_Library_Projects/LakeCat/LakeCat_Framework")
             
             
# path to Allocated StreamCat files
STREAMCAT_DIR = ("O:/PRIV/CPHEA/PESD/COR/CORFILES/Geospatial_Library_Projects/StreamCat/Allocation_and_Accumulation")
                 
###("O:/PRIV/CPHEA/PESD/COR/CORFILES/Geospatial_Library_Projects/StreamCat/Allocation_and_Accumulation")

# location of the NHDPlus, indicate the top-level directory
NHD_DIR = ("H:/NHDPlusV21")

# TIGER shapefile is needed for calculaitng the PctFUll values of Point type
# metrics as well as organizing the final tables into separate files for states.
STATES_FILE = ("O:/PRIV/CPHEA/PESD/COR/CORFILES/Geospatial_Library_Resource/POLITICAL/BOUNDARIES/NATIONAL/tl_2008_us_state.shp")

###("O:/PRIV/CPHEA/PESD/COR/CORFILES/Geospatial_Library_Resource/POLITICAL/BOUNDARIES/NATIONAL/tl_2008_us_state.shp")

# location to write out accumulated StreamCat data <- this is intermediate
# these files will hold statistics for...
#   $Cat -> statistics for each catchment
#   $UpCat -> the accumulated upstream catchment statistics
#   $Ws -> statistics for the entire watershed
OUT_DIR = ('C:/path/to/write/out/files/to')

###("O:/PRIV/CPHEA/PESD/COR/CORFILES/Geospatial_Library_Projects/LakeCat/Allocation_Accumulation")


# location for the  final tables
FINAL_DIR = "L:/Priv/CORFiles/Geospatial_Library_Projects/LakeCat/FTP_Staging/FinalTables"

# files that hold the pct_full data, created from ???
pct_full_file	= "L:/Priv/CORFiles/Geospatial_Library_Projects/StreamCat/ControlTables/ALL_BORDER_CATS.csv"
pct_full_file_RP100 = "L:/Priv/CORFiles/Geospatial_Library_Projects/StreamCat/ControlTables/ALL_BORDER_CATS_Rp100.csv"

#final_tables_dir	L:/Priv/CORFiles/Geospatial_Library/Data/Project/StreamCat/FTP_Staging/StreamCat/HydroRegions
